@media (max-width: 1920px) {}

@media (max-width: 1680px) {
    .container {
        max-width: 1450px;
    }

    header .hdr_outr ul li a {
        font-size: 22px;
    }

    .bnr_hdr h1 {
        font-size: 100px;
    }

    .cmn_btn {
        font-size: 22px;
        padding: 15px 28px;
    }

    .bnr_para p {
        font-size: 22px;
    }

    .cmn_hdr p {
        font-size: 22px;
    }

    .cmn_hdr h3 {
        font-size: 30px;
        text-transform: uppercase
    }

    .swpr_img {

        height: 410px;
    }

    .cmn_hdr h2 {

        font-size: 70px;
    }

    .dscnt_inr h2 {

        font-size: 42px;
    }

    .explr_otr .cmn_hdr {
        right: 5%;
    }

    .sbscrb_btn input[type=submit] {
        font-size: 22px;
    }

    .cmn_hdr h3 {
        font-size: 27px;
    }

    .swiper-button-prev {
        left: -1%;
        width: 50px;
        height: 50px;
        background: #333;
    }

    .swiper-button-next {
        right: -1%;
        width: 50px;
        height: 50px;
        background: #333;
    }

    .swiper-button-prev:after,
    .swiper-button-next:after {

        font-size: 33px;

    }

    .bnr_hdr h3 {
        font-size: 35px;
    }

    .bnr_para p {
        font-size: 20px;
    }

    .cmn_hdr h2 {
        font-size: 55px;
    }

    .cmn_hdr p {

        font-size: 20px;
    }

    .swpr_img {
        height: 300px;
    }

    .cmn_btn {
        font-size: 20px;
        padding: 11px 26px;
    }

    .cmn_hdr h2 {
        font-size: 48px;
    }

    .dscnt_inr h2 {
        font-size: 38px;
    }

    .dscnt_inr h2 {
        font-size: 42px;
    }

    .dstintn_swpr_otr {

        margin-top: 20px;
    }
}

@media (max-width: 1440px) {
    .container {
        max-width: 1340px;
    }

    .bnr_sec .img_otr {
        margin-top: -150px;
    }

    header .hdr_outr ul li a {
        font-size: 20px;
    }

    .bnr_hdr h1 {
        font-size: 80px;
    }

    .bnr_hdr h3 {
        font-size: 30px;
    }

    .sbscrb_btn input[type="submit"] {
        font-size: 20px;

    }

    .sbcrb_form form {
        height: 70px;
    }

    .sbcrb_form form input[type=text]::placeholder {
        font-size: 18px;
    }

    .cmn_hdr h3 {
        font-size: 22px;
    }

    .mn_ftr_otr ul li a {
        font-size: 18px;
    }

    .sbcrb_form form input[type=text] {

        font-size: 20px;
    }

}

@media (max-width: 1366px) {
    .container {
        max-width: 1240px;
    }

    .bnr_para p {

        width: 575px;
    }

    .swpr_img {
        height: 235px;
    }

    .dstintn_swpr_otr .img_inr {
        height: 300px;
    }

    .sbscrb_sec p {
        width: 580px;
    }

    .social_icns a {
        width: 40px;
        height: 40px;
        font-size: 22px;
    }

    .last_row {

        font-size: 18px;
    }

    .srch_open,
    .srch_cls {
        font-size: 20px;
    }

    .searchBox input {

        font-size: 18px;
    }

    .searchBox input::placeholder {
        font-size: 15px;
    }

    .bnr_hdr h1 {
        font-size: 65px;
    }

    .bnr_hdr h3 {

        font-size: 25px;
    }

    .bnr_para p {
        width: 550px;
    }

    .bnr_para p {

        font-size: 19px;
    }

    .cmn_hdr p {

        font-size: 19px;
    }

    .swpr_img img {
        object-fit: cover;
    }

    .cmn_hdr h3 {
        font-size: 20px;
    }

    .cmn_hdr h3 {
        font-size: 20px;
    }

    .cmn_hdr h2 {
        font-size: 40px;
    }

    .lets_go_hdr_txt p {
        width: 600px;
    }

    .swiper-button-prev:after,
    .swiper-button-next:after {

        font-size: 20px;

    }

    .swiper-button-next {

        width: 40px;
        height: 40px;
    }

    .swiper-button-prev {

        width: 40px;
        height: 40px;

    }

    .cmn_btn {

        font-size: 18px;
        padding: 10px 22px;
    }


}


@media (max-width: 1280px) {
    .container {
        max-width: 1140px;
    }

    header .hdr_outr ul li a {
        font-size: 18px;
    }

    .cmn_hdr h2 {
        font-size: 33px;
        padding-bottom: 10px;
    }

    header .hdr_outr {

        justify-content: inherit;
        gap: 200px;
    }

    .searchBox {

        transform: translate(-80%, -50%);
        width: 300px;
        padding: 0;
    }

    .swiper-button-prev,
    .swiper-button-next {

        top: 52%;
    }

    .searchBox input {

        padding: 10px 70px 10px 10px;
    }

}

@media (max-width: 1199px) {
    .container {
        max-width: 100%;
    }

    .swiper-button-prev {

        left: 0;
    }

    .swiper-button-next {

        right: 0;
    }

    .swiper-button-prev,
    .swiper-button-next {
        width: 30px;
        height: 30px;
    }

    .swiper-button-prev,
    .swiper-button-next {
        top: 54%;
    }

    .swiper-button-prev:after,
    .swiper-button-next:after {
        font-size: 14px;
    }

    .mn_ftr_otr {

        padding: 0 20px;
    }

    header {
        padding: 5px 20px;
    }

    .dstintn_swpr_otr {
        padding: 0 20px;
    }
}

@media (max-width: 1080px) {
    .container {
        max-width: 100%;
    }

    .bnr_sec .img_otr {
        margin-top: -100px;
    }

    .bnr_cntnt {
        padding: 0 20px;
    }

    .bnr_hdr h1 {
        font-size: 60px;
    }

    .bnr_para p {

        width: 500px;
        font-size: 17px;
    }

    .bnr_hdr h3 {

        font-size: 20px;
    }

    .cmn_hdr p {

        font-size: 17px;
    }

    .sbscrb_btn input[type="submit"] {
        font-size: 18px;
    }

    .sbcrb_form .eml_otr {

        width: 80%;
    }

    .sbscrb_btn {

        width: 20%;
    }

    header .hdr_outr {
        gap: 165px;
    }

    .nav_sec {

        gap: 250px;
    }


}

@media (max-width: 1024px) {}

@media (max-width: 991px) {

    .searchBox {

        width: 250px;
    }

    .nav_sec {
        gap: 230px;
    }

    header .hdr_outr {
        gap: 110px;
    }

    header .hdr_outr ul li a {
        font-size: 16px;
    }

    .searchBox {
        transform: translate(-76%, -50%);
    }

    .bnr_hdr h1 {
        font-size: 45px;
    }

    .bnr_hdr h3 {
        font-size: 17px;
    }

    .bnr_para p {
        width: 430px;
    }

    .cmn_hdr h3 {
        font-size: 18px;
    }

    .cmn_hdr h2 {

        font-size: 28px;
    }

    .sbcrb_form form input[type=text] {

        font-size: 18px;
    }

    .sbcrb_form form input[type=text]::placeholder {
        font-size: 13px;
    }

    .sbscrb_btn input[type="submit"] {
        font-size: 13px;
    }

    .sbcrb_form form {
        height: 50px;
    }

    .lets_go::after {

        width: 50%;
        height: 50%;
    }

    .explr_sec::after,
    .hkng_sec::after,
    .explr_sec::before,
    .hkng_sec::before {

        height: 165px;
        background-size: 100% 100%;
    }
}

@media (max-width: 900px) {

    header .hdr_outr {

        gap: 30px;
    }

    .nav_sec {
        gap: 200px;
    }

    .sbcrb_form form {

        width: 85%;
    }
}

@media (max-width: 812px) {}

@media (max-width: 768px) {}

@media (max-width: 767px) {

    /* For SearchBar */
    /* 
    .search {
        position: absolute;
        right: 10%;
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
    }

    .searchBox {
        right: 0%;
    } */

    .searchBox {
        transform: none;
    }

    .searchBox {
        position: relative;
        transform: none;
        width: 100%;
    }

    .srch_open,
    .srch_cls {

        display: inline-block;
    }

    .search {
        display: block;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-right: 10px;

    }

    .searchBox.active {
        top: 0;
        height: 100%;
    }

    .srch_otr {

        margin-right: 20%;

        /* position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%; */
    }

    header .hdr_outr {
        justify-content: space-between;
    }

    .srch_open,
    .srch_cls {
        font-size: 16px;
    }

    /* SearchBar End */

    /* For Header Portion */

    header {
        background-color: #deb37e;
        padding: 10px 20px;
        position: relative;
    }

    header .hdr_outr {

        padding: 0;
    }

    header .hdr_outr ul {
        display: block;
        padding: 0;
        text-align: center;
    }

    header .hdr_outr ul li {
        margin: 15px 0;
        box-shadow: 0 10px 10px -3px rgba(0, 0, 0, 0.4);
    }

    header .hdr_outr ul li:last-child {
        margin-bottom: 0;
    }

    header .hdr_outr ul li a {
        color: #fff;
        display: inline-block;
    }

    .bnr_sec .img_otr {

        margin: 0;
    }

    .logo {
        width: 50px;
        display: inline-block;
    }

    /* For Nav Open*/

    .nav_items {
        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
        background-color: #deb37e;
        display: none;
    }

    .nav_items.active {
        display: block;
        border-top: 1px solid #fff;
        padding: 0 0 10px 0;
    }

    .hamburger {
        display: block;
        position: absolute;
        cursor: pointer;
        right: 20px;
        top: 50%;
        transform: translate(-5%, -50%);
        transition: all 0.7s ease;
    }

    .hamburger div {
        width: 20px;
        height: 2px;
        background: #000;
        margin: 5px;
        transition: all 0.3s ease;
    }

    .hamburger.active .line1 {
        transform: rotate(-45deg) translate(-4px, 5px);
    }

    .hamburger.active .line2 {
        opacity: 0;
        visibility: hidden;
    }

    .hamburger.active .line3 {
        transform: rotate(45deg) translate(-5px, -6px);
    }

    header .hdr_outr ul li a:after {

        display: none;
    }

    header .hdr_outr ul li a:hover {

        color: #333;
    }

    .nav_sec {

        gap: 0;
    }

    /* Nav LI Animation */

    header .hdr_outr ul li {
        transform: rotateX(90deg);
        transform-origin: bottom;
        animation: animate 600ms ease-in-out forwards;

    }

    @keyframes animate {

        to {
            transform: rotateX(0);
            -webkit-transform: rotateX(0);
            -moz-transform: rotateX(0);
            -ms-transform: rotateX(0);
            -o-transform: rotateX(0);
            opacity: 1;
        }
    }

    header .hdr_outr ul li:nth-child(2) {
        animation-delay: 200ms;
    }

    header .hdr_outr ul li:nth-child(3) {
        animation-delay: 400ms;
    }

    header .hdr_outr ul li:nth-child(4) {
        animation-delay: 600ms;
    }

    header .hdr_outr ul li:nth-child(5) {
        animation-delay: 800ms;
    }

    header .hdr_outr ul li:nth-child(6) {
        animation-delay: 1000ms;
    }

    header .hdr_outr ul li:nth-child(7) {
        animation-delay: 1200ms;
    }

    header .hdr_outr ul li:nth-child(8) {
        animation-delay: 1400ms;
    }


    /* Normal Css */

    .mn_ftr_otr {

        flex-wrap: wrap;
        justify-content: center;
        row-gap: 25px;

    }

    .mn_ftr_otr .ftr_inr:first-child {
        width: 100%;
        text-align: center;

    }

    .mn_ftr_otr .ftr_inr:nth-child(2),
    .mn_ftr_otr .ftr_inr:nth-child(3),
    .mn_ftr_otr .ftr_inr:nth-child(4) {
        width: 100%;
        text-align: center;
    }

    .social_icns {

        justify-content: center;
    }

    header.sticky {

        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        animation: slide-down 0.7s linear;
    }

    @keyframes slide-down {
        0% {
            opacity: 0;
            transform: translateY(-100%);
            -moz-transform: translateY(-100%);
            -webkit-transform: translateY(-100%);
            -o-transform: translateY(-100%);
            -ms-transform: translateY(-100%);
        }

        100% {
            opacity: 1;
            transform: translateY(0);
            -moz-transform: translateY(0);
            -webkit-transform: translateY(0);
            -o-transform: translateY(0);
            -ms-transform: translateY(0);
        }
    }

    footer.cmn_pdding {
        padding: 20px 0;
    }

    footer .logo {

        width: auto;
    }

    .bnr_para p {
        width: 315px;
    }

    .searchBox input:focus,
    .searchBox input:hover {

        background-color: #ffffff;
    }

    .pgntn_otr {
        padding-top: 8%;
    }

    .dstntn_pgntn {
        padding-top: 8%;
    }
}

@media (max-width: 667px) {
    .bnr_para p {
        font-size: 13px;
        padding-top: 10px;
    }

    .bnr_hdr h1 {
        font-size: 35px;
    }

    .dscnt_inr {
        width: 100%;
    }

    .dscnt_inr .img_otr {

        width: 75%;
        margin: 10px auto;
    }

    .dscnt_inr:nth-child(2),
    .dscnt_inr:nth-child(3) {

        padding: 30px 20px;
    }

    .cmn_hdr h2 {
        font-size: 25px;
        text-align: center;
    }

    .cmn_hdr p {

        font-size: 14px;
    }

    .dscnt_inr_sec .cmn_hdr p {

        text-align: center;
    }

    .dscnt_btn {

        text-align: center;
    }

    .explr_sec::after,
    .hkng_sec::after,
    .explr_sec::before,
    .hkng_sec::before {

        height: 143px;
    }

    .mn_ftr_otr ul li a {
        font-size: 16px;
    }

    .cmn_pdding {
        padding: 40px 0;
    }

    .lets_go_hdr_txt p {
        width: auto;
    }
}

@media (max-width: 600px) {

    .bnr_cntnt {

        position: static;
        transform: none;
    }

    .bnr_hdr h1 {

        text-align: center;
    }

    .bnr_hdr h3 {

        text-align: center;
    }

    .bnr_hdr h1 br {

        display: none;
    }

    .bnr_btn {

        text-align: center;
    }

    .bnr_btn .cmn_btn {
        border-color: #deb37e;
    }

    .bnr_para p {

        width: auto;
        text-align: center;
        padding: 20px 0;
    }

    .bnr_cntnt {

        background-color: #fff6c37d;
        padding: 25px 20px;
    }

    .lets_go {

        padding-bottom: 30px;
        padding-top: 30px;
    }

    .hkng_aftr_img {

        display: none;
    }

    .explr_sec::after,
    .hkng_sec::after,
    .explr_sec::before,
    .hkng_sec::before {

        display: none;
    }

    .hkng_sec.cmn_pdding {

        padding: 30px 20px;
    }

    .hkng_sec .cmn_hdr.cmn_pdding {

        padding: 0;
    }

    .hkng_sec p,
    .dstintn p {

        width: auto;
    }

    .dstintn_swpr_otr {

        padding: 0;
    }

    .dstintn.cmn_pdding {

        padding: 30px 20px;
    }

    .sbcrb_form .eml_otr {
        width: 70%;
    }

    .sbscrb_btn {
        width: 30%;
    }

    .sbcrb_form form {
        width: 90%;
    }

    .sbcrb_form form input[type=text] {
        font-size: 13px;
        padding: 10px 20px;
        letter-spacing: 1.2px;
    }

    .sbcrb_form form input[type=text]::placeholder {
        font-size: 11px;
    }

    .sbscrb_sec p {
        width: auto;
    }

    header .hdr_outr ul li a {

        font-size: 15px;
    }

    .searchBox input::placeholder {

        font-size: 13px;
    }

    .cmn_btn {
        font-size: 13px;
    }

    .last_row {
        font-size: 13px;
    }
}

@media (max-width: 575px) {}

@media (max-width: 484px) {

    .cmn_hdr h2 {
        font-size: 18px;
    }

    .cmn_hdr p {
        font-size: 13px;
    }

    .cmn_pdding {
        padding: 10px 0;
    }

    .bnr_hdr h1 {
        font-size: 30px;
    }

    .cmn_btn {

        padding: 8px 18px;
    }

    .sbcrb_form form {
        width: 95%;
    }

    .sbscrb_btn {
        width: 40%;
    }

    .sbcrb_form .eml_otr {
        width: 60%;
    }
}

@media (max-width: 420px) {
    .sbcrb_form form {
        height: 40px;
    }

    .swpr_img {
        height: 190px;
    }

    .swpr_img img {
        object-fit: fill;
        background-size: 100% 100%;
    }

    .dscnt_inr .img_otr {
        width: 90%;
    }

    .sbcrb_form form input[type=text] {

        padding: 10px;
    }

    .mn_ftr_otr ul li a {
        font-size: 14px;
    }

    .cmn_hdr h3 {
        font-size: 16px;
    }

    .social_icns a {

        font-size: 18px;
        width: 35px;
        height: 35px;
    }

    .last_row {

        padding: 10px;
        letter-spacing: 1.2px;
    }

    .logo {
        width: 40px;
    }
}

@media (max-width: 414px) {}

@media (max-width: 384px) {

    .bnr_hdr h1 {
        font-size: 25px;
    }

    .cmn_hdr h2 {
        font-size: 16px;
    }
}

@media (max-width: 375px) {}

@media (max-width: 360px) {}